<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiscoverMusic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EECBA31D2664AFE8000A44EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECBA3332664AFE9000A44EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECBA33E2664AFE9000A44EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
